body{
    font-family: 'Merriweather', serif;
}

#web-title{
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    

}
.web-value{
    color: #ffffff;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    padding: 60px;
}
.header{
    background-image: url('../resources/Banner\ Image.png');
    margin: 60px auto;
    width: 1120px;
    height: 540px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.extra-coler{
    color: rgb(1, 255, 107);
}
nav{
    font-family: 'Inter', sans-serif;
    margin: 110px 420px 0px 420px;
}
.text-content{
    color: #F00;
    text-align: center;
    font-size: 70px;
    font-weight: 800;
}
.text-pera{
    color: #F00;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
#text-categories{
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
#add-photo{
    text-align: center;
    margin: 50px 190px 50px 190px;
}
 


